body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: #fff;
}

::-webkit-scrollbar-thumb{
  background-color: #e2e2e2;
  border-radius: 25px;
}

.ant-input, .ant-select-selection--single{
      color: #1d70b7 !important;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 0px rgba(68, 68, 68, 0.1), -3px -3px 3px 0px #fff;
    border: 0;
    background: transparent;
    height: 40px;
}

.home-zero-text, .home-register-row-text{
  color: #37477E !important;
    font-size: 1.5em !important;
    font-weight: 700;
}

.home-zero-input-text{
    color: #1d70b7 !important;
    font-weight: 400 !important;
    font-size: 18px !important;
}

.ant-btn-primary{
  background-color: #10CFBD !important;
  border-radius: 25px;
  border:none;
  height:40px;
  color: #ffffff !important;
}

#wave{
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  fill: #6a92ee;
  position: absolute;
  bottom: -3px;
  width: 100%;
  z-index: 1;
}

.ant-card-body {
  padding: 0;
  background:#ededed;
}

.all-margin{
  padding-left: 10%;
    padding-right: 10%;
}

.left-margin{
  padding-left: 10%;
}

.right-margin{

    padding-right: 10%;
}

.z-index-2{
  z-index:2;
}

.home-main-div{
  width:100%;
}

div#register {
    padding-top: 40px;
    padding-bottom: 60px;
}

.ant-select-selection__placeholder {
    padding-top: 5px;
}

form.ant-form.ant-form-horizontal.form-home .ant-col {
  padding: 0px 10px;
}

.form-home p.form-names {
  padding-left: 10px;
  padding-bottom: 3px;
  padding-top: 10px;
  color: #1d70b7;
  font-weight: 400;
  font-size: 18px;
}

.ant-row.home-main-row {
  padding-bottom: 0;
}

.instagram-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-size: 24px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.facebook-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  font-size: 24px;
vertical-align: middle;
  background: #0055d4;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.linkedin-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  font-size: 24px;
vertical-align: middle;
  background: #0E76A8;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.redes a {
  display: block !important;
  width: 40px;
  height: 40px;
}

.redes {
  position: fixed;
  z-index: 999;
  bottom: 30%;
  left:2px;
}

.redes span:hover {
  transform:scale(1.1);
}

