.customer-div{
  margin-top: 20px !important;
  margin-bottom: 0px !important;
  width: 80%;
  margin: auto;
}

.customer-row-card{
  margin-bottom: 20px !important;
}

.customer-card{
  margin-left: 20px !important;
  margin-right: 20px !important;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.customer-title{
  margin-top: 50px !important;
  margin-left: 30px !important;
  color: #02609d !important;
}

.customer-credit-row{
  margin-left: 20px !important;
}

.customer-credit-card{
  text-align: center !important;
  margin-top: 10px !important;
  margin-right: 25px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #42a4ff !important;
  border: 5px !important;
  border-color: black !important;
}

.customer-credit-card-index{
  text-align: center !important;
  margin-top: 10px !important;
  margin-right: 25px !important;
  padding-top: 22px !important;
  padding-bottom: 12px !important;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #42a4ff !important;
  border: 5px !important;
  border-color: black !important;
  border-radius: 15px !important;
  font-size: 15px !important; 
}

.new-table{
  margin-bottom: 10px !important;
  height: 180px !important; 
}

.row-table{
  width: 95% !important;
  margin: auto !important;
}

.row-request{
  width: 95% !important;
  margin: auto !important;
}

.request-button{
  font-size: 30px !important;
  color: #42a4ff !important;
}

.request-title{
  font-size: 23px !important;
  margin-top: -10px !important;
  color: #42a4ff !important;
}

.request-pendings{
  
  font-size: 20px !important;
  margin-top: -10px !important;
  color: #01609b !important;
}

.request-pending-col{
  text-align: right;
}

.request-button-none{
  border: none !important;
}

.request-pending-button{
  border: none !important;
}

.tag-weigth{
  font-weight: bold !important;
}

@media only screen and (max-width:500px) {
  .customer-div{
    margin-top: 50px !important;
    margin-bottom: 0px !important;
    width: 100%;
    margin: auto;
  }

  .customer-card{
    margin-left: 2px !important;
    margin-right: 2px !important;
    box-shadow: none;
    font-size: 10px !important;
  }

  .customer-row-card{
    margin-bottom: 20px !important;
  }
  
  .customer-row-content{
    margin-top: 40px !important;
    text-align: center !important;
  }

  .customer-title{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 20px !important;
    font-size: 20px !important;
  }

  .text-data{
    font-size: 18px !important;
  }
  
  .customer-credit-card-index{
    width: 90% !important;
    margin-left: 6% !important;
    font-size: 4px !important; 
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    text-align: right !important;
    margin-top: 10px !important;
    margin-right: 0px !important;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #42a4ff !important;
    border: 2px #01609b !important;
    border-radius: 10px !important;
  }  

  .customer-credit-card{
    font-size: 5px !important; 
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    text-align: center !important;
    margin-top: 10px !important;
    margin-right: 0px !important;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #42a4ff !important;
    border: 2px #01609b !important;
    border-radius: 10px !important;
  }  
  
  .data-align{
    
    margin: auto;
  }

  .customer-credit-row{
    margin-left: 20px !important;
  }

  .request-pending-col{
    text-align: left;
  }

  .request-pendings{
    font-size: 16px !important;
  }

  .request-title{
    font-size: 20px !important;
  }

  .request-button{
    font-size: 25px !important;
  }
  
  .tag-weigth{
    margin-top: 5px !important;
  }
  
}