.request-div{
  margin-top: 10px !important;
  margin-bottom: 0px !important;
  width: 85%;
  margin: auto;
}

.form-request-rows{
  width: 90% !important;
  margin: auto !important;
}

.form-request-rows-text{
  width: 90% !important;
  margin: auto !important;
  margin-top: 15px !important;
}

.request-form-title{
  margin-top: 30px !important;
  margin-left: 40px !important;
  color: black !important;
}

.form-input-number{
  width: 100% !important;
  margin-bottom: 1px !important;
}

.fees-item{
  margin-bottom: 0px !important;
}

.form-request-divider{
  margin-top: 5px !important;
}

.custom-button{
  background-color: #01609b !important;
  color: white !important;
  width: 100% !important;
}

.form-checkbox{
  margin-bottom: 20px !important;
}

.documents-buttons{
  background-color: #01609b !important;
  color: white !important;
}

.documents-disabled-buttons{
  background-color: #c7c7c7 !important;
}

.download-card{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.request-confirm-button{
  margin-top: 20px !important;
  background-color: #01609b !important;
  color: white !important;
  width: 100% !important;
}

.request-signature-clean-button{
  margin-top: 20px !important;
  background-color: #bebebe !important;
  color: black !important;
  width: 100% !important;
}

.request-signature-make-button{
  margin-top: 20px !important;
  background-color: #42a4ff !important;
  color: black !important;
  width: 100% !important;
}

.request-reject-button{
  margin-top: 20px !important;
  background-color: #c50000 !important;
  color: white !important;
  width: 100% !important;
}



.icon-wrapper{
  position: relative;
  padding: 0px 0px;
}

.icon-wrapper .anticon {
  position: absolute;
  top: -2px;
  width: 16px;
  height: 16px;
  line-height: 1;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.25);
}

.icon-wrapper .anticon:first-child {
  left: 0;
}

.icon-wrapper .anticon:last-child {
  right: 0;
}

.question-button{
  font-size: 12px !important;
  margin-left: 10px;
}

.information-col{
  margin-top: 0px !important;
}

.information-divider{
  width: 30% !important;
  margin-top: 10px !important;
  margin-bottom: 14px !important;
}

.type-account{
  top: -2% !important;
  margin-bottom: 20px !important;
  padding-bottom: 10px !important;
}

.text-fees{
  margin-top: -15px !important;
  font-size: 12px !important;
}

.bank-requires{
  background-color: #1d92ff !important;
  color: black !important;
  padding: 5px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  text-align: "right" !important;
  font-weight: 500;
  border-radius: 5px !important;
}

.form-bank-col{
  text-align: right !important;
}

.step-one{
  border-radius: 100px !important;
  background-color: #1d92ff !important;
  color: black !important;
  font-weight: 500 !important;
  border: 5px !important;
  border-color: black !important;
}

.document-steps{
  width: 90% !important;
  margin: auto !important;
  margin-bottom: 10px !important;
}

.signature-field{
  margin-bottom: 20px !important;
  width: 80% !important;
  height: 80% !important;
  margin: 0 'auto' !important;
  background-color: #dadada !important;
}

@media only screen and (max-width:500px) {

  .signature-field{
    width: 100% !important;
    height: 100px !important;
  }

  .request-div{
    margin-top: 40px !important;
    margin-bottom: 0px !important;
    width: 90%;
   
  }

  .form-request-rows{
    width: 98% !important;
    margin: auto !important;
    margin-bottom: 5px !important;
  }


  .form-input-number{
    width: 100% !important;
  }

  .form-request-divider{
    margin-top: 5px !important;
  }

  .custom-button{
    background-color: #01609b !important;
    color: white !important;
    margin: auto !important;
    margin-bottom: 20px !important;
  }

  .request-form-title{
    margin-top: 30px !important;
    margin-left: 20px !important;
    color: black !important;
  }
  
  .customer-credit-card{
    border-radius: 20px;
    margin-right: 15x !important;
    padding-top: -5px !important;

  }

  .request-initial-step{
    margin-top: 15px !important;
  }

  .request-title-amount{
    font-size: 15px !important;
    margin-bottom: -10px !important;
    color: #42a4ff !important;
  }

  .slider-amount{
    margin-bottom: 20px !important;
    margin-top: 10px !important;
  }

  .ant-slider{
    margin:none !important;
  }

}
  
