.company-div{
  margin-bottom: 0px !important;
  width: 90%;
  margin: auto;
}

.company-request-divider{
  margin-top: 5px !important;
  margin-bottom: 8px !important;
}

.request-form-add{
  float: right !important;
  font-size: 30px !important;
  color: #3ab5ff !important;
  margin-top: 5px !important;
  margin-right: 10px !important;
}