.company-div{
  margin-bottom: 0px !important;
  width: 90%;
  margin: auto;
}

.company-request-divider{
  margin-top: 5px !important;
  margin-bottom: 8px !important;
}

.request-form-add{
  color: #ffffff !important;
  background-color: #2eaefd !important;
  float: right;
}

.create-customer-button{
  color: #ffffff !important;
  background-color: #01609b !important;
}

.date-picker-expedition{
  width: 100% !important;
}