.header-menu1{
  padding: 0 0 !important;
  height: 5px !important;
  position: fixed;
  margin-right: 20px;
  background: #EEEFF9 ;
  z-index: 1000 !important;
}

.log-out-modal{
  text-align: center;
  font-size: 12px;
}

.menu-style{
  line-height: 34px;
  font-size: 14px;
  width: 100% !important;
}

.menu-logo{
  margin-top: 5px;
  height: 40px;
  margin-bottom: 5px;
}

.menu-clean{
  margin-right: 60px !important; 
  margin-left: 20px !important;
}

.menu-user-home, .menu-user-loan, .menu-user-transactions, .menu-user-request, .menu-admin-home, .menu-logout{
  float: right !important;
  margin-top: 5px !important;
}

.menu-admin-customer, .menu-admin-loan, .menu-admin-report{
  float: right !important;
  margin-top: 5px !important;
}

.menu-company-home{
  margin-left: 35% !important;
  margin-right: 10px;
}

.menu-key-users, .menu-key-customers, .menu-key-projects{
  margin-right: 10px !important; 
  margin-left: 20px !important;
}

.menu-key-logout{
  margin-left: 20% !important;
}

.footer-div{
  text-align: center !important;
}

.menu-counter-badge{
  margin-top: 220px !important;
  width: 3%;
  position: fixed !important;
  color: #1890ff;
}

.menu-counter-icon{
  position: fixed !important;
  margin-top: 10px;
  margin-left: 20px;
}

.menu-counter-text{
  margin-top: 10px;
  z-index: 2;
  position: fixed;
  font-size: 45px !important;
  color: #01609b !important;
}


@media only screen and (max-width: 1027px) {



  .menu-key-logout{
    margin-left: 10px !important;
  }

}

@media only screen and (max-width: 500px) {

  .menu-user-home, .menu-user-loan, .menu-user-transactions, .menu-user-request{
    float: none !important;
  }

  .menu-key-logout{
    margin-left: 0px !important;
  }

  .menu-logo{
    display: none;
    margin-right: 100px !important;
  }

  .menu-logout{
    display: none !important;
  }



}